* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    background-color: #fff;
}

#home {
    min-height: 100vh;
    width: 100%;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
}

#nav img {
    width: 160px;
    height: 41px;

}

#nav #right {
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav a {
    text-decoration: none;
    font-weight: 400;
    color: #000;
    font-size: 1vw;
    letter-spacing: -1px;
}

#homemain {
    padding: 1vw 15vw;
    display: flex;
    align-items: center;
}

#homemain #hleft {
    font-weight: 200;
}

#homemain #hleft h1 {
    font-size: 3.5vw;
}

#homemain #hleft p {
    margin-top: 20px;
    color: #8c8989;
    width: 80%;
    font-size: 1.1vw;
}

#homemain #hleft button {
    margin-top: 2vw;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    font-weight: 500;
    color: white;
    background-color: #458FF6;
    border: none;
    border-radius: 55px;
}

#homemain #hright {
    display: flex;
    justify-content: flex-end;
}

#homemain #hright img {
    width: 693px;
    height: 598px;
}

#services {
    padding: 10vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#services h1 {
    font-size: 2vw;
}

#services h5{
    color: #7D7987;
    padding: 2vw 1vw;
    font-weight: 300;
    font-size: 19px;;
    line-height: 30px;
    margin: 0.5vw 20vw;
    text-align: center;
}

#servdiv {
    margin-top: 3vw;
    margin-left: 1vw;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;

}

.box {
    margin-bottom: 2vw;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 354px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: #8c8989;
    padding: 5vw 2vw;
}
#services h3{
    margin-top: 1vw;
}
#services p{
    color: #7D7987;
}


#services button {
    margin-top: 2vw;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    font-weight: 500;
    background-color: white;
    color: #458FF6;
    border: 1px solid #458FF6;
    border-radius: 55px;
}

#services1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}
#services1 #sleft{
    width: 40;
    padding: 0 10vw;
}
#sleft img{
    width: 650px;
    height: 477px;
}
#sright{
    padding: 0 1vw;
}
#sright h1{
    font-size: 2.5vw;
}
#sright p{
    margin-top: 1vw;
    font-size: 1.1vw;
    color: #7D7987;
}
#sright button{
    margin-top: 2vw;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    font-weight: 500;
    color: #458FF6;
    background-color: white;
    border: 1px solid #458FF6;
    border-radius: 55px;
}
#services2{
    padding: 7vw 15vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#services2 h1{
    width: 70%;
    font-size: 2.5vw;
}
#services2 p{
    width: 70%;
    margin-top: 1vw;
    color: #7D7987;
    font-size: 1.1vw;
}
#services2 button{
    margin-top: 2vw;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    font-weight: 500;
    color: #458FF6;
    background-color: white;
    border: 1px solid #458FF6;
    border-radius: 55px;
}
#sright{
    width: 80%;
}
#sright img{
    width: 650px;
    height: 477px;
}
#services3{ 
    margin-left: 10vw;
    margin-right: 5vw;
    width: 80%;
    border-radius: 55px;
    background-color: #458FF6;
}
#services3 h1{
    padding: 5vw 26vw;
    color: white;
    font-size: 2vw;
}
#s3{
    display: flex;
    align-items: center;
    justify-content: center;
}
#s3 #s3left{
    margin-bottom: 3vw;
    padding: 1vw 15vw;
    color: white;
}
#s3 #s3right{
    width: 100%;
}
#s3right p{
    width: 80%;
    margin-bottom: 5vw;
    color: white;
    font-size: 1.1vw;
}

#services4{
    margin-top: 7vw;
    margin-left: 10vw;
    margin-right: 5vw;
    width: 80%;
    border-radius: 55px;
}

#services4 h1{
padding: 5vw 27vw;
color: black;
font-size: 2vw;
}
#s4{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
#s4 .box1{
    width: 30%;
    margin-top: 1vw;

}
.box1 h3,p{
    margin-top: 1vw;
    width: 50%;
}
#services4 .box1 button{
    margin-top: 1vw;
    border: none;
    background-color: white;
    color: #458FF6;
} 
#services4 #btn1 button{
        margin-top: 4vw;
        margin-left: 34vw;
        padding: 0.5vw 2.5vw;
        font-size: 1vw;
        font-weight: 500;
        background-color: white;
        color: #458FF6;
        border: 1px solid #458FF6;
        border-radius: 55px;
}
#footer{
    line-height: 1vw;
    width: 100%;
    margin-top: 8vw;
    display: flex;
    background-color: #458FF6
}
#footer .trafalgar{
    padding-left: 5vw;
    width: 100%;
    color: white;
}
#footer .company{
    display: grid;
    width: 50%;
    margin-top: 2vw;
    color: white;
}
.company a{
    color: white;
    text-decoration: none;
}
#footer .region{
    display: grid;
    width: 50%;
    margin-top: 2vw;
    color: white;
}
.region a{
    color: white;
    text-decoration: none;
    flex: 1 0 100px;
}
#footer .help{
    display: grid;
    width: 50%;
    margin-top: 2vw;
    color: white;
}
.help a{
    color: white;
    text-decoration: none;
    flex: 1 0 100px;
}
